{% extends 'base.html' %}   # base.html ga ulash #
{% load course_custom_tags %}
{%block title%}Courses
{% endblock %}

{%block content%}

<style>
    .price{
        font-size: 20px:
    }
</style>
<div class="container-fluid">
    <br>
    <div class="row">
        {% for item in course %}
             <div class="col mx-auto">
                 <div class="card mx-auto" style="width: 18rem;">
  <img src="{{item.thumbnail.url}}" class="card-img-top" alt="...">
        <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text m-0 p-0"><p>Save: {{item.discount}}%
        <br>
                <span class="price">
                    <del>{{item.price|dollar}}</del>
            &nbsp;
            <span>$ {% cal_sellprice 100 20%}</span>
                </span>
                </p>
        </div>
                     <div class="card-footer p-0">
                         <div class="row no-gutters">
                             <div class="col border-right">
                                 <a href="" class="btn btn-light btn-block">Enroll Now</a>
                             </div>
                             <div class="col">
                                 <a href="" class="btn btn-light btn-block">Show More</a>
                             </div>
                         </div>
                     </div>
             </div>
             </div>
    {% endfor %}
    </div>
</div>

{%endblock%}